@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%); 

    --Black: hsl(212, 21%, 14%); 
    --Grey: hsl(228, 12%, 48%); 
    --Cream: hsl(30, 38%, 92%); 
    --White: hsl(0, 0%, 100%); 

    /* Fonts */
    --Montserrat: "Montserrat", sans-serif;
    --Fraunces: "Fraunces", serif;;
}

main {
    background-color: var(--Cream);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    background-color: var(--White);
    border-radius: 12px;
    max-width: 625px;
}

picture {
    flex: 1;
}

picture img {
    border-radius: 12px 0px 0px 12px;
    width: 100%;
    height: auto;
    display: block;
}

.main-content {
    flex: 1;
    padding: 1.8rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.category {
    font-family: var(--Montserrat);
    color: var(--Grey);
    text-transform: uppercase; /* Todas as letras maiusculas */
    letter-spacing: 5px;
    font-size: 12px;
}

h1 {
    font-family: var(--Fraunces);
    color: var(--Black);
    line-height: 1; /* Espaçamento entre as linhas */
}

.description {
    font-family: var(--Montserrat);
    font-weight: 500;
    color: var(--Grey);
    line-height: 1.5; /* Espaçamento entre as linhas */
}

.price {
    font-family: var(--Fraunces);
    font-size: 2rem;
    font-weight: 700;
    color: var(--Green-500);
}

.price span {
    font-size: 14px;
    font-weight: lighter;
    color: var(--Grey);
    text-decoration: line-through;
}

button {
    background-color: var(--Green-500);
    border: none;
    color: var(--White);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    justify-content: center;
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
    align-items: center;
}

button:hover {
    transition: 0.2s;
    background-color: var(--Green-700);
}

button img {
    width: 1rem;
}

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(228, 81%, 34%);
    text-decoration: underline;
}


/* Mobile: 375px */
@media screen and (max-width: 470px){
    main {
        padding: 1rem;
    }

    picture img {
        width: 100%;
        border-radius: 12px 12px 0rem 0rem;
    }

    button img {
        width: 1rem;
    }


    section {
        display: flex;
        flex-direction: column;
    }

    .attribution {
        margin: 0.5rem;
    }

   
}